body {
    background-color: rgb(124, 142, 223);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

tbody {
    background-color: white;
}

table {
    width: 50%;
    margin: auto;
    text-align: center;  
}

.h135 {
    background-color: darkblue;
    color: white;
    padding: 10px 35px;
}

.h24 {
    background-color: darkcyan;
    color: white;
    padding: 10px 35px;
}

td {
    padding: 10px 80px;
}



